# Meta world
.mw/*
DBCache/*
AutoBackup/*

# Idea
.idea/**/*
!.idea/runConfigurations
!.idea/runConfigurations/*

# VS Code
.vscode/**/*
!.vscode/launcher.json

# TypeScript
node_modules/**/*
dist/**/*
package-lock.json
tsconfig.tsbuildinfo

# Log
TsBuilder.log