# Meta world
.mw/*
DBCache/*

# Idea
.idea/**/*
!.idea/runConfigurations
!.idea/runConfigurations/*

# VS Code
.vscode/**/*
!.vscode/launcher.json

# TypeScript
node_modules/**/*
dist/**/*
package-lock.json

# Log
TsBuilder.log