### .gitignore | MetaWorldNPT by LviatYi
### v31.1.8
### https://github.com/LviatYi/MetaWorldNPT

# Idea
**/.idea/**/*
!**/.idea/runConfigurations
!**/.idea/runConfigurations/**/*

# VS Code
**/.vscode/**/*
!**/.vscode/launch.json
!**/.vscode/settings-share.json

# TypeScript
**/node_modules/**/*
**/dist/**/*
**/package-lock.json
**/tsconfig.tsbuildinfo

# Log
**/TsBuilder.log

# Meta world
**/.mw/**/*
## UNDETERMINED LviatYi 强烈建议您忽略 .project 文件
## 此文件拥有一个非哈希的 Guid 算法和一系列吊诡的刷新时机 这将阻止正常的合并行为
## 忽略它的副作用是，新拉取的工程并未包含 .project 文件，导致无法正常打开工程
## 因此建议将 .project 文件加入备份
**/.project
!**/.project_backup
.projectassembly
!.projectassembly_backup
**/DBCache/**/*
**/AutoBackup/**/*
**/Pictures/**/*
**/Plugins/**/*
**/ExternalData/BuildSetting
#   Config/**/*
**/Config/UIOutlineData.ini
#       键位绑定
!**/Config/DefaultKeyBinding.ini
#       游戏设定
!**/Config/GameSetting.ini
#   导航缓存
NAVDATA.bin
#   Prefab 编辑时临时文件
**/Prefabs/EditingTemplate.cfg
## 以下文件随场景保存时自动生成 游戏包发布时必需
## 是否忽略请遵守团队或项目约定
#   场景资源 Guid 文件
!Asset_Data_List
#   资料暂缺
LocalAssetList
#   场景材质文件
!Local_Material_Assets
## UNDETERMINED LviatYi 强烈建议您对 ui-generate 文件采取以下策略（二选一）
## - 修改 uig 的生成模板，去除 ${Date} 与 ${Author} 等鸡肋字段 且 不要让 git 跟踪 ui-generate 的 meta 文件.
## - 不要让 git 跟踪 ui-generate 的文件.
#**/JavaScripts/ui-generate/**/*.ts
**/JavaScripts/ui-generate/**/*.meta
## 便于不含包管理工具的环境使用
#!**/node_modules/**/*
## 忽略首层的项目 tsconfig，包含库文件的 tsconfig.
*/tsconfig.json

# Custom
**/JavaScripts/doc/*.drawio
Log4TsSelfConfig.ts
**/.distributor/distributor_cache_db